/* styles.css */
body {
  font-family: Arial, sans-serif;
}

button {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  margin-bottom: 5px;
}

li:hover {
  background-color: #f0f0f0;
}

#detailsContainer {
  margin-top: 20px;
}
